body{
    background-color: aqua;
    padding: 48px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-template-rows:repeat(3, 1fr);
    background-color: rgb(7, 46, 72);

    gap: 24px;/*define el espacio entre filas y columnas*/

    /*row-gap: 50px;*//*espacio entre filas*/
    /*column-gap: 80px;*//*espacio que define las columnas*/

    width: 500px;
    height: 500px;
    margin: 0 auto;
}

.item{
    background-color: cadetblue;
}

.item2{
    background-color: darkcyan;
}

.item3{
    background-color: dodgerblue;
}

.item4{
    background-color: lightgreen;
}

.item5{
    background-color: royalblue;
}