body{
    background-color: aqua;
    padding: 48px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-template-rows:repeat(3, 1fr);
    background-color: rgb(7, 46, 72);

    gap: 24px;

    grid-auto-flow: row;/*es el valor por defaut*/
    /*grid-auto-flow: column;*//*cambia el flujo a columnas*/

    /*no es de grid*/

    direction: rtl;

    width: 500px;
    height: 500px;
    margin: 0 auto;
}

.item{
    background-color: cadetblue;
}

.item2{
    background-color: darkcyan;
}

.item3{
    background-color: rgb(30, 93, 156);
}

.item4{
    background-color: lightgreen;
}

.item5{
    background-color: royalblue;
}

.container div {
    font-size: 48px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(31, 31, 111);
}