body{
    background-color: aqua;
    padding: 48px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{

    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr 2fr);

    display: grid; /*habilita el comportamiendo de Grid en el contenedor*/
    background-color: rgb(7, 46, 72);
    width: 500px;
    height: 500px;
    margin: 0 auto; /*esto centra el elemento cuando tiene no tiene un alto definido*/
}

.item{
    background-color: dodgerblue;
}